// Layout variables partial

$section-padding: 60px 0;

section.intro,
section.features-extra {
	background: $section-light;
}

section.features,
section.events,
section.blog {
	background: $section-dark;
}